.third{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.thirdImage{
    display: flex;
    flex-direction: column;
}


.thirdImage .first{
    width: 32rem;
    height: 32rem;
    background-color:rgb(241, 240, 236);
    border-radius: 30rem;
    position: relative;
    top: 0;
    left: 0;
}

.thirdImage .first img{
    width: 20rem;
    height: 27rem;
    border-radius: 20rem;
    margin: 1.5rem 2rem -2rem 6rem ; 
}

.thirdImage .second{
    width: 10rem;
    height: 14rem;
    padding-top:.1rem;
    background-color: white;
    position:relative;
    top:-26rem;
    left: 25rem;
    border-radius: 2rem;
    box-shadow: 0rem 0.6rem 1.1rem -0.2rem rgb(0 0 0 / 50%);
}
.second img{
    width: auto;
    height: auto;
    margin-top:-1rem;
}
.second h5{
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: .8rem;
    margin-top: 1.5rem;
}
.second p{
    color: gray;
    font-family: "Poppins", sans-serif;
    font-size: .6rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.secondInfo .icon1{
   margin-left: -8rem;
   margin-top: 1rem;
}
.secondInfo p{
    margin-top: -1.5rem;
    margin-left: -5rem;
    color: gray;
    font-size: 1rem;
}
.secondInfo h5{
    font-weight: bold;
    margin-left: -5rem;
    padding-bottom:1.5rem;
    font-size: 1rem;
}
.secondInfo .icon2{
    position: relative;
    top:-4rem;
    left: 3rem;
    width: 2rem;
    height: 2rem;
    background-color: rgb(243, 63, 63);
    border-radius: .5rem;
    font-size: .9rem;
}


.thirdInfo{
    width: 50%;
    text-align: left;
    margin-top: 7rem;
    margin-left:12rem ;
}

.thirdInfo h5{
    color: darkturquoise;
    font-family: "Poppins", sans-serif;
    margin-bottom: 2rem;
}
.thirdInfo h1{
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 2.8rem;
    margin-bottom: 2rem;
}
.thirdInfo p{
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    word-spacing: .5rem;
    color: gray;
    margin-bottom: 4rem;
}

.thirdInfo span{
    width: 20rem;
    height: 8rem;
    background-color: rgb(243, 63, 63);
    color: white;
    padding: 1.2rem 2.5rem 1.2rem 2.5rem;
    border-radius: 1.2rem;
    font-family: "Poppins", sans-serif;
}

